{
    "extends": "airbnb-base",
    "rules": {
        "indent": ["error", 4],
        "no-use-before-define": ["error", {
            "functions": false
        }],
        "no-shadow": 0,
        "quotes": ["error", "double"],
    }
}
