<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
    <link rel="import" href="../bower_components/polymer/polymer.html">
    <link rel="import" href="../elements/camera-controls.html">
</head>

<body>

    <camera-controls></camera-controls>

</body>
</html>
