<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
    <link rel="import" href="../elements/coupling-view.html">
    <body class ="fit vertical layout">
        <coupling-view></coupling-view>
    </body>
</html>
