<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
    <link rel="import" href="../elements/director-view.html">
    <body class ="fit vertical layout">
        <director-view></director-view>
        <script src="/js/director.js"></script>
    </body>
</html>
