<!DOCTYPE html>
<html>
  <head>
      <% include ./partials/head %>
  </head>
  <body>


    <h1>Welcome to the webserver of goto fail;</h1>
    <p>This is a temporary page and will be replaced with a page that has actual functionality when we have developed these functionalities.</p>
    <img src="/images/gotofail.png"/>
  </body>
</html>
