<!DOCTYPE html>
<html>
  <head>
      <% include ./partials/head %>
  </head>
  <body>
    <h1>Welcome to the webserver of goto fail;</h1>
    <p>This is a temporary page and will be replaced with a page that has actual functionality when we have developed these functionalities.</p>
    <!--<img src="/images/gotofail.png"/>-->

    <!--<script src="/socket.io/socket.io.js"></script>-->
    <!--<script src="/js/index.js"></script>-->

    <link rel="import" href="../bower_components/polymer/polymer.html">
    <link rel="import" href="../elements/our-button.html">

    <our-button text="asdfa"></our-button>
  </body>
</html>
