<!DOCTYPE html>
<head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="/stylesheets/timeline.css">
    <link rel="import" href="../bower_components/polymer/polymer.html">
    <link rel="import" href="../elements/shot-caller-display.html">
</head>
<body>
    <div class="page-wrap">
        <header>
            <div class="content">
                <h1>Goto fail; Shot Caller</h1>
            </div>
        </header>
    </div>

    <main>
        <div class="content">
            <shot-caller-display></shot-caller-display>
        </div>
    </main>

    <footer>
        <div class="content">
            <p>Goto fail; All rights reserved</p>
        </div>
    </footer>

    <script src="/js/shotCaller.js"></script>
</body>
</html>
