<!DOCTYPE html>
    <head>
        <% include ./partials/head %>
        <link rel="import" href="../elements/shotcaller-view.html">
    </head>
    <body>
        <shotcaller-view></shotcaller-view>
        <script src="/js/shotCaller.js"></script>
    </body>
</html>
