<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
    <link rel="import" href="../elements/timeline-view.html">
    <body class ="fit vertical layout">
        <timeline-view></timeline-view>
        <script src="/js/timeline.js"></script>
    </body>
</html>