<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/timeline.css">
    <link rel="import" href="../bower_components/polymer/polymer.html">
    <link rel="import" href="../elements/timeline-grid.html">
</head>

<body>
    <div class="page-wrap">
        <header>
            <div class="content">
                <h1>Goto fail; web-based timeline</h1>
            </div>
        </header>

        <main>
            <div class="content">
                <timeline-grid></timeline-grid>
            </div>
        </main>
    </div>

    <footer>
        <div class="content">
            <p>Goto fail; All rights reserved</p>
        </div>
    </footer>

    <script src="/js/timeline.js"></script>
</body>

</html>
