<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="/stylesheets/timeline.css">
    <link rel="import" href="../bower_components/polymer/polymer.html">
    <link rel="import" href="../elements/timeline-grid.html">
    <link rel="import" href="../elements/timeline-headers.html">
    <link rel="import" href="../elements/gotofail-header.html">
    <link rel="import" href="../elements/timeline-footer.html">
    <link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">
    <link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
    <link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
    <link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="../bower_components/iron-icons/iron-icons.html">
</head>

<body class ="fit vertical layout">

    <paper-drawer-panel peeking force-narrow left-drawer id="drawer-panel">

        <div drawer id="drawer">
            derp<br>derp<br>derp
        </div>

        <paper-header-panel main mode="waterfall">

            <paper-toolbar justify="justified" id="head">
                <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
                <h2>Timeline view</h2>
                <h4>Goto fail;<br>All rights reserved.</h4>
            </paper-toolbar>

            <div class="fit">
                <timeline-headers></timeline-headers>
                <timeline-grid></timeline-grid>
            </div>

            <div id="bottom-indicator">end of timeline</div>

        </paper-header-panel>
    </paper-drawer-panel>

    <script src="/js/timeline.js"></script>
</body>

</html>
