<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head %>
        <link rel="import" href="../elements/upload-view.html">
    </head>
<body>
    <upload-view></upload-view>
</body>
</html>
