* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

gotofail-header {
    padding: 0px;
    width: 100%;
    top: 0px;
    z-index: 3;
}

paper-toolbar {
    background-color: white !important;
    height: 56px !important;
    color: black !important;
}

#drawer {
    z-index: 4;
}

#scrim {
    z-index: 4 !important;
}