* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(240,240,240);
}

paper-toolbar {
    background-color: black !important;
    color: white !important;
}

#drawer {
    z-index: 4;
}

#scrim {
    z-index: 4 !important;
}

#bottom-indicator {
    background-color: black;
    text-align: center;
    vertical-align: middle;
    font-size: large;
    color: white;
    line-height: 60px;
    height: 60px;
    width: 100%;
    margin: auto;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
}
