* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

header, main, footer {
    padding: 20px;
}

.page-wrap {
    min-height: 100%;
    /* footer height */
    margin-bottom: -70px;
}

.page-wrap:after {
    content: "";
    display: block;
}

footer, .page-wrap:after {
    height: 70px;
}

header {
    height: 70px;
    background-color: rgb(255, 172, 70);
    color: white;
}

header > .content > p {
    margin: 0;
    padding-top: 20px;
}

footer {
    background-color: rgb(255, 102, 70);
    color: white;
}
